//
// File Name: _base.scss
// Description: Global Stylings
// Author: Analia Mok
//

$white: #FFFFFF;
$off-white: #F2F2F2;
$lightest-gray: #F9F9F9;
$darkest-gray: #2D2D2D;

$orange: #E34C26;
$azure-blue: #2F80ED;
$yellow: #F2C94C;
$purple: #4F5B93;
$darker-gray: #464646;

$darker-blue: #2F80ED;
$sky-blue: #18B1F9;

$default-text-color: $darkest-gray;
$alt-text-color: $off-white;

$default-background-color: $white;
$alt-background-color: $lightest-gray;

// Font-Related
$header-font: 'Lato', sans-serif;
$default-font: 'Source Sans Pro', sans-serif;

$header-default-size: 1.5rem;
$default-font-size: 1.2rem;

// Window Widths
$default-transparency: 0.7;
$tablet: 992px;
$desktop: 1024px;