//
// File Name: _typography.scss
// Description: Defines all text related properties
//

$header-font: 'Lato', sans-serif;
$default-font: 'Source Sans Pro', sans-serif;

$header-default-size: 1.5rem;
$default-font-size: 1.2rem;
