==
<footer>

    <div id="hiring-cta">
        <h2>Hiring?</h2>
        <p>Sadly, I’m unavailable for hire until Spring 2019.</p>
        <a href="{{ 'AnaliaMok_Resume.pdf'|media }}" target="_blank" class="button">Want my resume? Download here</a>
    </div>

    <p>Copyright &copy; {{ "now"|date("Y") }} Analia Mok</p>
    <div id="social-logos">
        <a href="https://linkedin.com/in/AnaliaMok"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/AnaliaMok"><i class="fab fa-github"></i></a>
    </div>

</footer>