//
//  File Name: _general.scss
//  Description: General Styling for generic pages
//  Author: Analia Mok
//

.general{
  &__header{
    @include default-header('../images/starry-sky-768.png');
    position: relative;
    height: 100vh;
    //height: auto;
    overflow: hidden;

    @media screen and (min-width: $tablet){
      @include default-header('../images/starry-sky.png');
    }

  }

  &__overlay{
    @include blue-gradient;
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $tablet){
      padding: 0.5rem;
    }

  }

  &__content{
    margin: 2rem 1.5rem;
    text-align: center;
    color: $alt-text-color;

    h1{
      font-size: 2.5rem;

      @media screen and (min-width: $tablet){
        font-size: 4rem;
      }
    }

    p, ul li a{
      font-size: $default-font-size;
    }
    p{
      margin: 1rem 0;
    }

    ul{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media screen and (min-width: $tablet){
        flex-wrap: nowrap;
      }

      li{
        flex: 1 1 100%;
        list-style-type: none;
        margin: 0 0.5rem;

        @media screen and (min-width: $tablet){
          flex: 1 1 50%;
        }

        a{
          display: block;
          color: $lightest-gray;
        }
      }
    }
  }

  // Only found on maintenance page
  &__redirect-content{
    margin-top: 0.5rem;

    @media screen and (min-width: $tablet){
      margin-top: 4rem;
    }

    p{
      font-weight: 300;
      font-size: $default-font-size;
    }

    div#social-logos{
      margin-top: 0.5rem;
      font-size: 2.5rem;
      a{
        margin: 0 0.5rem;
        color: $lightest-gray;
      }
    }
  }

}
