//
// File Name: _single-work.scss
// Description: Single Work layout
// Author: Analia Mok
//

.single-work{

  &__header{
    position: relative;
    height: 30vh;
    background-color: $lightest-gray;
  }

}
