//
// File Name: _single-work.scss
// Description: Single Work layout
// Author: Analia Mok
//

.single-work{

  &__header{
    position: relative;
    height: 25vh;
    background-color: $lightest-gray;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @media screen and (min-width: $tablet){
      height: 35vh;
    }

    // Project Logo
    svg{
      color: $alt-text-color;
      font-size: 4rem;
    }

  }

  &__overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__content{
    width: 90%;
    margin: 2% auto 5% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet){
    }
    @media screen and (min-width: $desktop){
      width: 75%;
    }

    h1{
      font-weight: 900;
      font-size: 3rem;
    }

    // Sub-headers
    h3{
      margin: 1rem 0 0.5rem 0;
    }

    // Job Position Header
    h4{
      margin-bottom: 1rem;
      font-size: $default-font-size;
      color: $azure-blue;
      font-family: $default-font;
    }

    p{
      margin-bottom: 1rem;
      font-weight: 300;
      font-size: $default-font-size;
    }

    // ul in content should have bullet points
    ul{ 
      margin-bottom: 1rem;
      padding-left: 2rem;
      list-style-type: circle; 

      li{
        font-weight: 300;
        font-size: $default-font-size;

        ul{margin-bottom: 0}
      }
    }

  }

  &__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    flex: 1 1 100%;
  }

  &__column{
    flex: 1 1 100%;

    &:first-child{
      @media screen and (min-width: $tablet){
        flex: 1 1 60%;
      }
    }
    &:last-child{
      @media screen and (min-width: $tablet){
        padding-left: 10%;
        flex: 1 1 40%;
      }
      @media screen and (min-width: $desktop){
        padding-left: 13%;
      }

    }
  }

  &__widget{
    margin: 2rem 0;
    padding: 1.5rem;
    text-align: left;
    background-color: $alt-background-color;

    @media screen and (min-width: $tablet){
      margin: 0 0 1rem 0;
    }

    h2{
      margin-bottom: 0.5rem;
    }

    ul li{
      font-weight: 300;
      line-height: 1.5;
      font-size: $default-font-size;
      a{color: $default-text-color;}
    }
  }

}
