//
// File Name: _work.scss
// Description: Work CTA and page layout
// Author: Analia Mok
//

.work{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  // Page Layout Style
  &__wrapper{
    width: 95%;
    margin: 6rem auto 4rem auto;

    .navbar{
      @include blue-gradient-solid;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

  }

  &__item{
    position: relative;
    min-width: 100px;
    min-height: 200px;
    max-height: 300px;
    flex: 1 1 100%;
    overflow: hidden;

    @media screen and (min-width: $tablet){
      min-height: 300px;
      max-height: 400px;
      flex: 1 1 50%;
    }

    @media screen and (min-width: $desktop){
      flex: 1 1 33.333%;

      // First and second children
      &:first-child,
      &:nth-child(2){
        flex: 1 1 50%;
      }

    }

  }

  &__overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //opacity: $default-transparency;

    svg{
      flex: 1 1 100%;
      font-size: 3.5rem;
      color: $alt-text-color;
      transform: translateY(0);
      transition: transform 0.4s ease-out;
    }

    span{
      position: absolute;
      right: 0;
      left: 0;
      //z-index: 10;
      padding: 1rem;
      text-align: center;
      flex: 1 1 100%;
      color: $alt-text-color;
      font-size: $default-font-size;
      transform: translateY(400%);
      transition: transform 0.4s ease-out;
    }

    @media screen and (min-width: $desktop){

      &:hover{
        svg{
          transform: translateY(-400%);
        }
        span{
          transform: translateY(0);
        }
      }
    }

  }

  .solid{ opacity: 1; }

}
