description = "Overriding blogPosts partial"
==

{% if blogPosts.posts.total %}
  <div class="work">
  {% for post in blogPosts.posts %}
      {% if post.featured_images[0] %}
      <div class="work__item" style="background: #F9F9F9 url({{post.featured_images[0].path}}) center/cover no-repeat">
        <a
          href="{{ post.url }}"
          class="work__overlay"
          style="background-color: {{post.setting.default_background_color}}"
          data-title="{{ post.title }}"
        >
      {% else %}
      <div class="work__item">
        <a
          href="{{ post.url }}"
          class="work__overlay solid"
          style="background-color: {{post.setting.default_background_color}}"
          data-title="{{ post.title }}"
        >
      {% endif %}

          {% if post.setting.project_logo %}
            <i class="{{post.setting.project_logo}}"></i>
          {% endif %}
          <span>{{ post.summary|raw }}</span>
        </a><!-- .work__overlay -->
      </div><!-- .work__item -->
  {% endfor %}
</div><!-- .work -->
{% endif %}
