* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro",sans-serif; }

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  color: #2D2D2D; }

html {
  overflow: hidden; }

body {
  overflow: auto; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
  font-family: "Lato",sans-serif;
  font-weight: 400; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #F2F2F2;
  border: 2px solid #F2F2F2; }

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  text-align: right; }

.navbar__logo {
  display: none;
  font-weight: 400; }

.navbar__menu-icon {
  display: inline-block;
  font-size: 2.5rem;
  color: #F2F2F2;
  cursor: pointer; }

.navbar__menu-items {
  display: none; }

.navbar__menu-items li a {
  color: #2D2D2D; }

footer {
  margin-top: 2rem;
  padding: 2rem 1rem;
  text-align: center;
  color: #F9F9F9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #2F80ED), to(#18B1F9));
  background: -webkit-linear-gradient(#2F80ED 30%, #18B1F9);
  background: linear-gradient(#2F80ED 30%, #18B1F9); }

footer #hiring-cta {
  margin-bottom: 2rem; }

footer #hiring-cta h2 {
  margin-bottom: 1rem; }

footer p {
  font-weight: 300;
  font-size: 1.2rem; }

footer div#social-logos {
  margin-top: 0.5rem;
  font-size: 2.5rem; }

footer div#social-logos a {
  margin: 0 0.5rem;
  color: #F9F9F9; }

.home__header {
  height: 75vh;
  background-color: #F9F9F9;
  background-repeat: no-repeat;
  background-position: center; }

@media screen and (min-width: 992px) {
  .home__header {
    height: 80vh; } }

.home__overlay {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(47, 128, 237, 0.5)), to(rgba(24, 177, 249, 0.5)));
  background: -webkit-linear-gradient(rgba(47, 128, 237, 0.5) 30%, rgba(24, 177, 249, 0.5));
  background: linear-gradient(rgba(47, 128, 237, 0.5) 30%, rgba(24, 177, 249, 0.5));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem; }

.home__overlay #go-down-button {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  font-size: 2.5rem;
  color: #2D2D2D;
  cursor: pointer; }

@media screen and (min-width: 1024px) {
  .home__overlay {
    padding: 5rem; } }

.home__content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #F2F2F2;
  opacity: 1; }

.home__content h2 {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); }

.home__content p {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem; }

@media screen and (min-width: 992px) {
  .home__content p {
    width: 75%; } }

@media screen and (min-width: 1024px) {
  .home__content p {
    width: 42%; } }

.home__who-cta {
  padding: 3rem 2rem;
  background-color: #F9F9F9;
  text-align: center; }

.home__who-cta h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem; }

.home__who-cta p {
  text-align: left;
  font-weight: 300;
  font-size: 1.2rem; }

@media screen and (min-width: 992px) {
  .home__who-cta p {
    display: inline-block;
    width: 90%; } }

@media screen and (min-width: 1024px) {
  .home__who-cta p {
    width: 75%; } }

.home__skills-cta {
  padding: 3rem 2rem;
  text-align: center; }

.home__work-cta {
  text-align: center; }

.home__work-cta .button {
  color: #18B1F9;
  border: 2px solid #18B1F9; }
