* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro",sans-serif; }

html, body {
  position: relative;
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.4rem;
  font-family: "Lato",sans-serif; }

a {
  text-decoration: none; }

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  text-align: right; }

.navbar__logo {
  display: none;
  font-weight: 400; }

.navbar__menu-icon {
  display: inline-block;
  font-size: 2.5rem;
  color: #F2F2F2;
  cursor: pointer; }

.navbar__menu-items {
  display: none; }

.navbar__menu-items li a {
  color: #2D2D2D; }

.home__header {
  height: 80vh;
  background-color: #F9F9F9;
  background-repeat: no-repeat;
  background-position: center; }

.home__overlay {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(47, 128, 237, 0.5)), to(rgba(24, 177, 249, 0.5)));
  background: -webkit-linear-gradient(rgba(47, 128, 237, 0.5) 30%, rgba(24, 177, 249, 0.5));
  background: linear-gradient(rgba(47, 128, 237, 0.5) 30%, rgba(24, 177, 249, 0.5));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem; }

.home__content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #F2F2F2;
  opacity: 1; }

@media screen and (min-width: 992px) {
  .home__content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%; } }

@media screen and (min-width: 1024px) {
  .home__content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 40%;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%; } }

.home__content h2 {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); }

.home__content p {
  margin: 1rem 0;
  font-size: 1.2rem; }

.home__content a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  color: #F2F2F2;
  border: 2px solid #F2F2F2; }
